@import "reset.css";

body {
    height: 100%;
    margin: 0;
    overflow: auto;
    position: relative;
}

.task {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/*Task 1*/
#black_square, .black_square {
    width: 100px;
    height: 100px;
    background: #000;
    margin: 0 auto;
}

.buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.hidden {
    display: none;
}

/*Task 3*/
.black_squares {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    justify-content: space-around;
}

/*Task 4*/

.task-4-input-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/*Task 5*/

.yellow-square {
    margin: 30px auto;
    width: 100px;
    height: 100px;
    background: #e4f706;
    cursor: pointer;
}

/*Task 6*/
#task-6-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 100px;
    margin: 0 auto;
    height: 110px; /* Высота #red-square + высота #task-6-button + отступ */
}

#red-square {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: #e81b1b;
    opacity: 0;
}

#task-6-button {
    height: 50px;
    margin-top: 10px;
}

/*Task 7*/
#green-square {
    width: 50px;
    height: 20px;
    background: #2fb338;
    display: none;
}

#task-7-input {
    width: 150px;
}

/*Task 8*/

.task-8-content-container {
    display: flex;
    gap: 15px;
}

#task-8-link-image {
    max-width: 300px;
}

/*Task 9*/

#task-9-content-container {
    display: flex;
    gap: 15px;
}

#task-9-images-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 40px;
    flex-wrap: wrap;
}

.task-9-image {
    width: 300px;
}

/*Task 10*/

#mouse-coordinates-block {
    position: fixed;
    top: 0;
    right: 20px;
}

#mouse-x, #mouse-y {
    display: inline-block;
}

/*Task 14*/

#task-13-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background: #3cbe91;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Task 15*/
#block-out {
    width: 200px;
    height: 200px;
    background: #2749ff;
}

#block-in {
    width: 100px;
    height: 100px;
    background: #444040;
    margin: 25% auto;
}

/*Task 16*/

#gray-square {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: rgba(146, 146, 146, 0.5);
    top: 0;
    z-index: 1;
    display: none;
}

#task-16-button {
    margin: 0 0 30px 0;
}

/*Task 18*/
#drop-area {
    width: 500px;
    height: 300px;
    padding: 30px;
    background: rgba(222, 217, 217, 0.56);
    text-align: center;
    border-radius: 12px;
}

#img-view {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff center;
    background-size: cover;
}

#img-view img{
    width: 100px;
    margin-top: 25px;
}

#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}
